{% extends 'C:\Projects\project972_v3_twv3\backend\pwason972v3\dashboard\templates\dashboard\base.html' %}


{% block content %}

<h1>Dashboard Template</h1>
<div class="row">

    <div class="col-md-6 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <canvas 
                    id="SalesCountRep"
                    width="300"
                    height="300" 
                >
                </canvas>

            </div>

        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <canvas 
                    id="SalesAmountRep"
                    width="300"
                    height="300" 
                >
                </canvas>

            </div>

        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-6 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <canvas 
                    id="SalesPerProduct"
                    width="300"
                    height="300" 
                >
                </canvas>

            </div>

        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <canvas 
                    id="SalesYearCount"
                    width="300"
                    height="300" 
                >
                </canvas>

            </div>

        </div>
    </div>
    
</div>

<div class="row">

    <div class="col-md-6 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <canvas 
                    id="SalesYearSum"
                    width="300"
                    height="300" 
                >
                </canvas>

            </div>

        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="card" style="margin-top:30px;">
            <div class="card-body">
                <canvas 
                    id="NewCustomers"
                    width="300"
                    height="300" 
                >
                </canvas>

            </div>

        </div>
    </div>
    
</div>

{% endblock %}