/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .button-box {
  webkit-box-shadow:0px 0px 105px 45px rgba(46,53,255,0.9);
  moz-box-shadow: 0px 0px 105px 45px rgba(46,53,255,0.9);
  box-shadow: 0px 0px 105px 45px rgba(46,53,255,0.9);

} */

.button-box {
  webkit-box-shadow:0px 0px 15px 25px rgba(46,53,255,0.9);
  moz-box-shadow: 0px 0px 15px 25px rgba(46,53,255,0.9);
  box-shadow: 0px 0px 15px 25px rgba(46,53,255,0.9);

}

.button-box2 {
  webkit-box-shadow:0px 0px 15px 25px rgba(46,53,255,0.4);
  moz-box-shadow: 0px 0px 15px 25px rgba(46,53,255,0.4);
  box-shadow: 0px 0px 15px 25px rgba(46,53,255,0.4);

}

.button-box3 {
  webkit-box-shadow:0px 0px 15px 15px rgba(46,53,255,0.4);
  moz-box-shadow: 0px 0px 15px 15px rgba(46,53,255,0.4);
  box-shadow: 0px 0px 15px 15px rgba(46,53,255,0.4);

}

.text-box1 {
  webkit-box-shadow:0px 0px 15px 15px rgba(255,165,0,0.4);
  moz-box-shadow: 0px 0px 15px 15px rgba(255,165,0,0.4);
  box-shadow: 0px 0px 15px 15px rgba(255,165,0,0.4);

}

.text-box1bis {
  webkit-box-shadow:0px 0px 15px 15px rgba(255,0,0,0.4);
  moz-box-shadow: 0px 0px 15px 15px rgba(255,0,0,0.4);
  box-shadow: 0px 0px 15px 15px rgba(255,0,0,0.4);

}

.text-box2 {
  webkit-box-shadow:0px 0px 15px 15px rgba(60,180,110,0.4);
  moz-box-shadow: 0px 0px 15px 15px rgba(60,180,110,0.4);
  box-shadow: 0px 0px 15px 15px rgba(60,180,110,0.4);

}

.text-box3 {
  webkit-box-shadow:0px 0px 15px 15px rgba(60,60,60,0.4);
  moz-box-shadow: 0px 0px 15px 15px rgba(60,60,60,0.4);
  box-shadow: 0px 0px 15px 15px rgba(60,60,60,0.4);

}

#h2 {
  font-family: "Brush Script MT";
}